@use "sass:color";

$main: #100918;
$main-2: yellow;
$main-3: white;
$white: #fff;
$black: #000;
$background-header: yellow;
$background-modal: $white;
$rarity-4: purple;
$rarity-5: yellow;
$rarity-6: orange;
$btn: yellow;

$family: Alice;

// #1d213b
// #252a4a
