@use "../../../styles/global.scss" as *;

.finished-section {
  &__list {
    @include listReset();
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-left: 1px solid $main-2;
    padding-left: 10px;
    border-radius: 5px;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(41, 53, 86, 0) 100%
    );
  }

  &__header {
    display: flex;
    flex-direction: column;
  }
  &__status {
    font-weight: bold;
  }
  &__winner {
    text-decoration: underline;
  }
  &__players {
    display: flex;
    gap: 5px;
  }
  &__btn {
    @include btnReset();
    @include standartTransition();
    @include standartAnimZoom();
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    width: fit-content;
  }
}
