.invite__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  button {
    max-width: fit-content;
  }
  select {
    max-width: fit-content;
  }
}

.invite__btns {
  display: flex;
  gap: 5px;
}

.btn-toggle-form {
  margin-bottom: 5px;
}

.invite-card {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(41, 53, 86, 0) 100%
  );
  &__actions {
    display: flex;
    gap: 5px;
  }
}
